@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> EMPLOYEE REGISTER</h1>
    <p class="lead">Asp.Net Mvc Application</p>
</div>

<div class="row">
    <div class="col-md-9">
        <p>
            Employee Library is an ASP.NET MVC based Application with Models, Views and Controllers.
        </p>
        
    </div>
</div>